{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">0110</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Le blog pour nous et par nous</h2>
                        <a class="btn btn-primary" href="{% url 'articles:list-articles' %}">Articles</a>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}